* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open-Sans-Regular';
}

.container {
  width: calc(100% - 280px);
  margin: 0 auto;
}

.header-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.burger-menu {
  position: relative;
  width: 40px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}

.burger-menu span {
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu span:nth-child(2) {
  top: calc(50% - 11px);
}

.burger-menu span:nth-child(3) {
  top: calc(50% + 11px);
}

.burger-menu.active span {
  transform: scale(0);
}

.burger-menu.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
  left: 5px;
}

.burger-menu.active span:nth-child(2) {
  width: 0;
  color: white;
}

.burger-menu.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
  left: 5px;
  color: white;
}

.burger-menu-nav {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 30px;
  z-index: 1;
  overflow-y: auto;
  background-color: white;
  color: black;
  animation: burgerAnimation 0.5s;
}

.main-burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.logo-hidden {
  margin-top: 50px;
}

.networks-hidden {
  margin-bottom: 50px;
}

.open {
  display: flex !important;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.burger-menu-nav a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-screen {
  display: flex;
  justify-content: space-between;
}

.main-screen {
  height: 100vh;
}

.main-screen-left {
  background-color: #7c655a;
  width: 100%;
}

.about-title {
  font-family: PT-Serif-Regular;
  font-size: 64px;
  color: white;
  margin-top: 110px;
  margin-bottom: 50px;
}

.about-education,
.about-qualification,
.about-work,
.about-format {
  font-size: 26px;
  max-width: 682px;
  color: white;
  margin-bottom: 40px;
  font-family: Open-Sans-Light;
}

.about-education span,
.about-qualification span,
.about-work span,
.about-format span {
  font-weight: bold;
}

.main-sign {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
}

.main-screen-button {
  width: 256px;
  height: 70px;
  border-radius: 20px;
  color: white;
  background: transparent;
  border: 1px solid white;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  line-height: 70px;
}

.main-screen-button:hover {
  background-color: white;
  color: #7c655a;
  transition: 0.5s;
}

.main-screen-img img {
  height: 100vh;
}

.biography {
  margin-top: 250px;
}

.biography-title,
.certificates-title {
  font-size: 40px;
  padding-bottom: 10px;
  font-weight: 400;
  width: fit-content;
  border-bottom: 1px solid #1f1f1f;
  padding-right: 90px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.biography-discription {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.biography-discription p {
  padding-bottom: 16px;
  max-width: 800px;
  font-size: 18px;
  text-align: justify;
  text-indent: 25px;
  font-family: Open-Sans-Light;
}

.line {
  border-left: 1px solid black;
}

.certificates {
  margin-top: 250px;
}

.certificates-items {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  justify-content: space-between;
}

.certificates-item {
  margin-bottom: 20px;
  color: #1f1f1f;
  text-align: center;
  margin-bottom: 30px;
  transition: transform 0.5s;
  height: fit-content;
}

.certificates-item:hover {
  transform: scale(1.1);
  border-bottom: 1px solid black;
}

.cetrtificates-img {
  height: 350px;
  margin-bottom: 20px;
}

.cetrtificates-img img {
  height: 320px;
}

.certificates-text {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

footer {
  margin-top: 250px;
  margin-bottom: 50px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-networks,
.footer-year {
  display: flex;
  align-items: center;
}

.footer-social-networks {
  gap: 18px;
}

.social-tg {
  display: inline-block;
  background-image: url(../img/tg.png);
  background-size: cover;
  background-position: center center;
  width: 45px;
  height: 45px;
}

.soocial-watsapp {
  display: inline-block;
  background-image: url(../img/whatsapp.png);
  background-size: cover;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.footer-year {
  gap: 5px;
}

@media screen and (max-width: 1790px) {
  .main-sign {
    justify-content: center;
  }

  .main-line-left,
  .main-line-right {
    display: none;
  }
}

@media screen and (max-width: 1580px) {
  .about-title,
  .about-education,
  .about-qualification,
  .about-work,
  .about-format {
    text-align: center;
    margin-bottom: 30px;
  }

  .about-title {
    font-size: 54px;
  }

  .about-education,
  .about-qualification,
  .about-work,
  .about-format {
    font-size: 22px;
  }

  .main-sign {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1430px) {
  .about-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1410px) {
  .container {
    width: calc(100% - 170px);
  }

  .main-screen {
    height: 100vh;
  }

  .main-screen-img {
    display: none;
  }

  .about-title {
    margin-top: 120px;
  }

  .about-education,
  .about-qualification,
  .about-work,
  .about-format {
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 28px;
  }

  footer {
    margin-top: 180px;
  }

  .footer .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-social-networks {
    gap: 7px;
  }
}

@media screen and (max-width: 1250px) {
  .biography-title,
  .certificates-title {
    font-size: 32px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .biography-discription {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .biography,
  .certificates {
    margin: 100px 0;
  }

  .certificates-items {
    display: grid;
    grid-template-columns: repeat(1, 90%);
    justify-content: center;
  }

  .certificates-item {
    text-align: center;
  }

  .cetrtificates-img {
    height: fit-content;
    margin-bottom: 10px;
  }

  .certificates-text {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: calc(100% - 80px);
  }

  .header-navigation {
    display: flex;
  }

  .logo {
    order: -1;
  }

  .logo img {
    width: 250px;
  }

  .burger-menu-nav {
    justify-content: space-between;
  }

  .logo.logo-hidden {
    margin-top: 40px;
  }

  .burger-menu-nav a {
    font-size: 18px;
  }

  .main-burger-menu {
    gap: 10px;
  }

  .burger-menu {
    width: 40px;
    height: 40px;
  }

  .social-networks {
    display: none;
  }

  .logo-hidden {
    margin-top: 50px;
  }

  .social-networks.networks-hidden {
    display: block;
    margin-bottom: 70px;
  }

  .about-title {
    margin-top: 80px;
  }

  .about-education,
  .about-qualification,
  .about-work,
  .about-format {
    padding-bottom: 30px;
    font-size: 22px;
  }

  .main-sign {
    margin-top: 10px;
  }

  footer {
    margin-top: 100px;
  }

  .footer .container {
    gap: 10px;
  }

  .social-tg {
    width: 35px;
    height: 35px;
  }

  .soocial-watsapp {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: calc(100% - 40px);
  }

  .logo img {
    width: 230px;
  }

  .biography-title,
  .certificates-title {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 15px;
  }

  .cetrtificates-img img {
    height: 270px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    width: calc(100% - 40px);
  }

  .logo img {
    width: 200px;
  }

  .burger-menu {
    width: 30px;
    height: 30px;
  }

  .burger-menu span:nth-child(2) {
    top: calc(50% - 8px);
  }

  .burger-menu span:nth-child(3) {
    top: calc(50% + 8px);
  }
}

@media screen and (max-width: 430px) {
  .about-title {
    margin-top: 50px;
  }

  .main-screen-button {
    height: 60px;
    width: 240px;
    font-size: 22px;
    line-height: 60px;
  }

  .biography-title,
  .certificates-title {
    font-size: 28px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding-right: 30px;
  }

  .cetrtificates-img img {
    height: 210px;
  }

  .certificates-text {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 350px) {
  .cetrtificates-img img {
    height: 190px;
  }
}
