@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Open-Sans-Regular';
}

.container {
  width: calc(100% - 280px);
  margin: 0 auto;
}

.header-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.burger-menu {
  position: relative;
  width: 40px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}

.burger-menu span {
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu span:nth-child(2) {
  top: calc(50% - 11px);
}

.burger-menu span:nth-child(3) {
  top: calc(50% + 11px);
}

.burger-menu.active span {
  transform: scale(0);
}

.burger-menu.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
  left: 5px;
}

.burger-menu.active span:nth-child(2) {
  width: 0;
  color: white;
}

.burger-menu.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
  left: 5px;
  color: white;
}

.burger-menu-nav {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 30px;
  z-index: 1;
  overflow-y: auto;
  background-color: white;
  color: black;
  animation: burgerAnimation 0.5s;
}

.main-burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.networks-hidden {
  margin-bottom: 50px;
}

.logo-hidden {
  margin-top: 50px;
}

.open {
  display: flex !important;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.burger-menu-nav a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-screen {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.main-screen-left {
  background-color: #756761;
  width: 100%;
}

.main-screen-img img {
  height: 100vh;
}

.blog-title {
  display: flex;
  align-items: center;
  font-family: PT-Serif-Regular;
  font-size: 45px;
  color: white;
  margin-top: 300px;
}

.main-sign {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 120px;
}

.main-screen-button {
  width: 250px;
  height: 70px;
  border-radius: 20px;
  color: white;
  background: transparent;
  border: 1px solid white;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  line-height: 70px;
  letter-spacing: 2px;
}

.main-screen-button:hover {
  color: #756761;
  background-color: white;
  transition: 0.5s;
}

.posts {
  margin-top: 250px;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.posts-title {
  font-size: 40px;
  padding-bottom: 10px;
  font-weight: 400;
  width: fit-content;
  border-bottom: 1px solid #1f1f1f;
  padding-right: 90px;
}

.posts-items {
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(3, 510px);
  gap: 30px;
  justify-content: space-between;
  overflow: hidden;
  padding: 12px 0;
  padding-right: 15px;
  padding-left: 15px;
}

.posts-item {
  border: 1px solid black;
  border-radius: 15px;
  transition: transform 0.5s;
}

.posts-item:hover {
  transform: scale(1.05);
}

.posts-item-img img {
  border-radius: 15px 15px 0 0;
  width: 510px;
  padding-bottom: 20px;
}

.blog-item-heshtag {
  background-color: #ad958a;
  width: 75px;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 10px;
}

.posts-item-title,
.posts-item-discription {
  font-weight: 400;
  padding-left: 15px;
}

.posts-item-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.posts-item-discription {
  font-family: 'Open-Sans-Light';
  font-size: 20px;
  width: 455px;
  font-weight: 400;
  margin-bottom: 50px;
}

footer {
  margin-top: 250px;
  margin-bottom: 50px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-networks,
.footer-year {
  display: flex;
  align-items: center;
}

.footer-social-networks {
  gap: 18px;
}

.social-tg {
  display: inline-block;
  background-image: url(../img/tg.png);
  background-size: cover;
  background-position: center center;
  width: 45px;
  height: 45px;
}

.soocial-watsapp {
  display: inline-block;
  background-image: url(../img/whatsapp.png);
  background-size: cover;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.footer-year {
  gap: 5px;
}

@media screen and (max-width: 1770px) {
  .posts-items {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    gap: 15px;
  }

  .posts-item-img img {
    width: 450px;
  }
}

@media screen and (max-width: 1680px) {
  .posts-items {
    display: grid;
    grid-template-columns: repeat(3, 430px);
    gap: 15px;
  }

  .posts-item-img img {
    width: 430px;
  }
}

@media screen and (max-width: 1590px) {
  .posts-items {
    display: grid;
    grid-template-columns: repeat(3, 410px);
    gap: 12px;
  }

  .posts-item-img img {
    width: 410px;
  }

  .posts-item-discription {
    font-size: 18px;
    width: 400px;
  }
}

@media screen and (max-width: 1480px) {
  .main-line-left,
  .main-line-right {
    display: none;
  }

  .main-screen-button {
    align-items: center;
  }

  .posts-items {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 12px;
  }

  .posts-item-img img {
    width: 360px;
  }

  .posts-item-discription {
    font-size: 18px;
    width: 340px;
  }
}

@media screen and (max-width: 1380px) {
  .posts-header {
    margin-bottom: 20px;
  }

  .posts-title {
    font-size: 32px;
    padding-right: 50px;
  }

  .posts-items {
    display: grid;
    grid-template-columns: repeat(2, 430px);
    gap: 18px;
    justify-content: space-around;
  }

  .posts-item-img img {
    width: 430px;
  }

  .posts-item-discription {
    font-size: 18px;
    width: 410px;
  }

  .main-screen-button {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: calc(100% - 170px);
  }

  .main-screen {
    height: 100vh;
  }

  .main-screen-left {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .main-screen-img {
    display: none;
  }

  .blog-title {
    margin-top: 0px;
    justify-content: center;
  }

  .main-sign {
    margin-top: 70px;
    justify-content: center;
  }

  .main-screen-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .posts {
    margin-top: 100px;
  }

  .posts-items {
    display: grid;
    grid-template-columns: repeat(2, 380px);
    gap: 15px;
    justify-content: space-between;
  }

  .posts-item-img img {
    width: 380px;
  }

  .posts-item-discription {
    font-size: 18px;
    width: 310px;
  }

  footer {
    margin-top: 180px;
  }

  .footer .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-social-networks {
    gap: 7px;
  }
}

@media screen and (max-width: 960px) {
  .main-screen-left {
    display: flex;
    align-items: center;
    height: 80%;
  }

  .posts-items {
    display: grid;
    grid-template-columns: repeat(2, 330px);
    gap: 12px;
  }

  .posts-item-img img {
    width: 330px;
  }

  .posts-item-title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .posts-item-discription {
    font-size: 16px;
    width: 280px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 815px) {
  .posts-items {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 12px;
  }

  .posts-item-img img {
    width: 250px;
    padding-bottom: 15px;
  }

  .posts-item-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .posts-item-discription {
    font-size: 14px;
    width: 220px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: calc(100% - 80px);
  }

  .header-navigation {
    display: flex;
  }

  .logo {
    order: -1;
  }

  .logo img {
    width: 250px;
  }

  .burger-menu-nav {
    justify-content: space-between;
  }

  .logo.logo-hidden {
    margin-top: 40px;
  }

  .burger-menu-nav a {
    font-size: 18px;
  }

  .main-burger-menu {
    gap: 10px;
  }

  .burger-menu {
    width: 40px;
    height: 40px;
  }

  .social-networks {
    display: none;
  }

  .logo-hidden {
    margin-top: 50px;
  }

  .social-networks.networks-hidden {
    display: block;
    margin-bottom: 70px;
  }

  .blog-title {
    font-size: 46px;
  }

  .posts-items {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 18px;
  }

  .posts-item-img img {
    width: 100%;
    padding-bottom: 15px;
  }

  .posts-item-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .posts-item-discription {
    font-size: 14px;
    width: 90%;
    margin-bottom: 30px;
  }

  footer {
    margin-top: 100px;
  }

  .footer .container {
    gap: 10px;
  }

  .social-tg {
    width: 35px;
    height: 35px;
  }

  .soocial-watsapp {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 550px) {
  .main-screen-left {
    display: flex;
    align-items: center;
    height: 90%;
  }

  .container {
    width: calc(100% - 40px);
  }

  .logo img {
    width: 230px;
  }

  .blog-title {
    text-align: center;
  }

  .posts-header {
    margin-left: 20px;
  }

  .posts {
    margin-top: 0px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    width: calc(100% - 40px);
  }

  .logo img {
    width: 200px;
  }

  .burger-menu {
    width: 30px;
    height: 30px;
  }

  .burger-menu span:nth-child(2) {
    top: calc(50% - 8px);
  }

  .burger-menu span:nth-child(3) {
    top: calc(50% + 8px);
  }

  .posts-header {
    margin-left: 20px;
  }
}
