@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Open-Sans-Regular';
}

.container {
  width: calc(100% - 280px);
  margin: 0 auto;
}

.header-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.burger-menu {
  position: relative;
  width: 40px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}

.burger-menu span {
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu span:nth-child(2) {
  top: calc(50% - 11px);
}

.burger-menu span:nth-child(3) {
  top: calc(50% + 11px);
}

.burger-menu.active span {
  transform: scale(0);
}

.burger-menu.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
  left: 5px;
}

.burger-menu.active span:nth-child(2) {
  width: 0;
  color: white;
}

.burger-menu.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
  left: 5px;
  color: white;
}

.burger-menu-nav {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 30px;
  z-index: 1;
  overflow-y: auto;
  background-color: white;
  color: black;
  animation: burgerAnimation 0.5s;
}

.main-burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.networks-hidden {
  margin-bottom: 50px;
}

.logo-hidden {
  margin-top: 50px;
}

.open {
  display: flex !important;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.burger-menu-nav a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-screen {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.main-screen-left {
  background-color: #756761;
  width: 100%;
}

.main-screen-img img {
  height: 100vh;
}

.blog-title {
  display: flex;
  align-items: center;
  font-family: PT-Serif-Regular;
  font-size: 64px;
  color: white;
  margin-top: 300px;
}

.main-sign {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 120px;
}

.main-screen-button {
  width: 256px;
  height: 70px;
  border-radius: 20px;
  color: white;
  background: transparent;
  border: 1px solid white;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  line-height: 70px;
}

.main-screen-button:hover {
  color: #756761;
  background-color: white;
  transition: 0.5s;
}

.posts {
  margin-top: 250px;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.posts-title {
  font-size: 40px;
  padding-bottom: 10px;
  font-weight: 400;
  width: fit-content;
  border-bottom: 1px solid #1f1f1f;
  padding-right: 90px;
}

.posts-items {
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(3, 480px);
  gap: 18px;
  justify-content: space-between;
  overflow: hidden;
  padding: 12px 0;
  padding-right: 15px;
  padding-left: 15px;
}

.posts-item {
  border: 1px solid black;
  border-radius: 15px;
  transition: transform 0.5s;
}

.posts-item:hover {
  transform: scale(1.05);
}

.posts-item-img img {
  border-radius: 15px 15px 0 0;
  width: 480px;
  padding-bottom: 20px;
}

.blog-item-heshtag {
  background-color: #ad958a;
  width: 75px;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 10px;
}

.posts-item-title,
.posts-item-discription {
  font-weight: 400;
  padding-left: 15px;
}

.posts-item-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.posts-item-discription {
  font-size: 20px;
  width: 455px;
  font-weight: 400;
  margin-bottom: 50px;
}

footer {
  margin-top: 250px;
  margin-bottom: 50px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-networks,
.footer-year {
  display: flex;
  align-items: center;
}

.footer-social-networks {
  gap: 18px;
}

.social-tg {
  display: inline-block;
  background-image: url(../img/tg.png);
  background-size: cover;
  background-position: center center;
  width: 45px;
  height: 45px;
}

.soocial-watsapp {
  display: inline-block;
  background-image: url(../img/whatsapp.png);
  background-size: cover;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.footer-year {
  gap: 5px;
}
