@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1f1f1f;
}

body {
  font-family: "Open-Sans-Regular";
}

.container {
  width: calc(100% - 280px);
  margin: 0 auto;
}

.header-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.burger-menu {
  position: relative;
  width: 40px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}

.burger-menu span {
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu span:nth-child(2) {
  top: calc(50% - 11px);
}

.burger-menu span:nth-child(3) {
  top: calc(50% + 11px);
}

.burger-menu.active span {
  transform: scale(0);
}

.burger-menu.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
  left: 5px;
}

.burger-menu.active span:nth-child(2) {
  width: 0;
  color: white;
}

.burger-menu.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
  left: 5px;
  color: white;
}

.burger-menu-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 30px;
  z-index: 1;
  overflow-y: auto;
  background-color: white;
  color: black;
  animation: burgerAnimation 0.5s;
}

.main-burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.logo-hidden {
  margin-top: 50px;
}

.networks-hidden {
  margin-bottom: 50px;
}

.open {
  display: flex !important;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.burger-menu-nav a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-screen {
  display: flex;
  justify-content: space-between;
}

.main-screen {
  height: 100vh;
}

.main-screen-left {
  background-color: #f1d8cc;
  width: 100%;
}

.contacts-title {
  font-family: PT-Serif-Regular;
  font-size: 64px;
  color: #1f1f1f;
  margin-top: 170px;
  margin-bottom: 90px;
}

.main-screen-exposure {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.contact-tg,
.contact-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-family: PT-Serif-Regular;
}

.contact-email {
  text-transform: uppercase;
  font-size: 20px;
}

.contact-email-img img {
  width: 80px;
}

.contact-tg-img img {
  width: 70px;
}

.main-sign {
  display: flex;
  align-items: center;
  gap: 53px;
  margin-top: 120px;
}

.main-screen-button {
  width: 256px;
  height: 70px;
  border-radius: 20px;
  color: #1f1f1f;
  background: transparent;
  border: 1px solid #1f1f1f;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 70px;
}

.main-screen-button:hover {
  background-color: white;
  border: 1px solid white;
  color: #1f1f1f;
  transition: 0.5s;
}

.main-screen-img img {
  height: 100vh;
}

.contacts {
  margin: 250px 0;
}

.write-title {
  font-size: 40px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #1f1f1f;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.contacts-form {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contacts-input {
  display: flex;
  flex-direction: column;
}

.contacts-input input {
  border: none;
  border-bottom: 1px solid #1f1f1f;
  font-size: 28px;
  outline: none;
  padding-bottom: 10px;
}

.input-name,
.input-phone,
.input-message {
  height: 50px;
  transition: height 0.5s;
}

.input-name,
.input-phone {
  margin-bottom: 80px;
}

.input-name:focus,
.input-phone:focus {
  border-bottom: 1px solid blue;
  height: 70px;
}

.input-message:focus {
  height: 200px;
  border-bottom: 1px solid blue;
  padding-bottom: 30px;
}

.contact-sending {
  display: flex;
  gap: 50px;
  padding-top: 100px;
  width: fit-content;
  margin: auto;
}

.contact-button {
  border: 1px solid #7c655a;
  width: 270px;
  border-radius: 20px;
  font-size: 26px;
  background-color: white;
  color: #7c655a;
}

.contact-button:hover {
  background-color: #7c655a;
  color: white;
  transition: 0.5s;
}

footer {
  margin-top: 250px;
  margin-bottom: 50px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-networks,
.footer-year {
  display: flex;
  align-items: center;
}

.footer-social-networks {
  gap: 18px;
}

.social-tg {
  display: inline-block;
  background-image: url(../img/tg.png);
  background-size: cover;
  background-position: center center;
  width: 45px;
  height: 45px;
}

.soocial-watsapp {
  display: inline-block;
  background-image: url(../img/whatsapp.png);
  background-size: cover;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.footer-year {
  gap: 5px;
}

@media screen and (max-width: 1790px) {
  .contact-email-img img {
    width: 70px;
  }

  .contact-tg-img img {
    width: 60px;
  }

  .contact-tg-link {
    text-align: center;
  }

  .main-sign {
    gap: 30px;
  }
}

@media screen and (max-width: 1435px) {
  .main-line-right,
  .main-line-left {
    display: none;
  }

  .main-sign {
    justify-content: center;
  }
}

@media screen and (max-width: 1356px) {
  .contacts-title {
    display: flex;
    justify-content: center;
  }

  .main-screen-exposure {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-sign {
    margin-top: 90px;
  }

  .contact-tg {
    justify-content: center;
  }
}

@media screen and (max-width: 1236px) {
  .contacts-title {
    font-size: 54px;
    margin-bottom: 50px;
  }

  .main-sign {
    margin-top: 80px;
  }

  .write-title {
    font-size: 32px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: calc(100% - 170px);
  }

  .main-screen {
    height: 100vh;
  }

  .main-screen-img {
    display: none;
  }

  .contacts-title {
    font-size: 54px;
    margin-top: 120px;
  }

  .contacts {
    margin: 100px 0;
  }

  .contacts-form {
    width: 95%;
  }

  footer {
    margin-top: 180px;
  }

  .footer .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-social-networks {
    gap: 7px;
  }
}

@media screen and (max-width: 850px) {
  .contacts-input input {
    font-size: 24px;
    padding-bottom: 0;
  }
  .input-name,
  .input-phone,
  .contacts-input {
    margin-bottom: 40px;
  }

  .contact-sending {
    padding-top: 40px;
  }

  .contact-line-left,
  .contact-line-right {
    display: none;
  }

  .contact-button {
    height: 70px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: calc(100% - 80px);
  }

  .header-navigation {
    display: flex;
  }

  .logo {
    order: -1;
  }

  .logo img {
    width: 250px;
  }

  .burger-menu-nav {
    justify-content: space-between;
  }

  .logo.logo-hidden {
    margin-top: 40px;
  }

  .burger-menu-nav a {
    font-size: 18px;
  }

  .main-burger-menu {
    gap: 10px;
  }

  .burger-menu {
    width: 40px;
    height: 40px;
  }

  .social-networks {
    display: none;
  }

  .logo-hidden {
    margin-top: 50px;
  }

  .social-networks.networks-hidden {
    display: block;
    margin-bottom: 70px;
  }

  .input-phone {
    margin-bottom: 40px;
  }

  footer {
    margin-top: 100px;
  }

  .footer .container {
    gap: 10px;
  }

  .social-tg {
    width: 35px;
    height: 35px;
  }

  .soocial-watsapp {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: calc(100% - 40px);
  }

  .write-title {
    width: 350px;
  }

  .contact-button {
    height: 60px;
    width: 230px;
    font-size: 24px;
  }
}

@media screen and (max-width: 420px) {
  .write-title {
    font-size: 24px;
    width: 240px;
  }

  .contacts-input input,
  .input-phone input,
  .input-message input {
    font-size: 20px;
  }
}
