@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Open-Sans-Regular";
}

.container {
  margin: 0 auto;
}

.main-sreen-left img {
  height: 100vh;
}

.main-screen-right {
  flex-grow: 1;
  margin-top: 220px;
}

.main-screen {
  display: flex;
}

.main-title,
.name,
.surname,
.psyhology,
.main-slogan,
.main-sign {
  padding-left: 183px;
}

.burger-menu {
  position: absolute;
  width: 40px;
  height: 50px;
  cursor: pointer;
  top: 30px;
  right: 140px;
  z-index: 2;
}

.burger-menu span {
  width: 100%;
  height: 2px;
  background-color: #1f1f1f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu span:nth-child(2) {
  top: calc(50% - 11px);
}

.burger-menu span:nth-child(3) {
  top: calc(50% + 11px);
}

.burger-menu.active span {
  transform: scale(0);
}

.burger-menu.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
  left: 5px;
}

.burger-menu.active span:nth-child(2) {
  width: 0;
  color: white;
}

.burger-menu.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
  left: 5px;
  color: white;
}

.burger-menu-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 30px;
  z-index: 1;
  overflow-y: auto;
  background-color: white;
  color: #1f1f1f;
  animation: burgerAnimation 0.5s;
}

.logo-hidden {
  margin-top: 50px;
}

.networks-hidden {
  margin-bottom: 50px;
}

.main-burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.open {
  display: flex !important;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.burger-menu-nav a {
  color: #1f1f1f;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-title {
  font-size: 64px;
  background-color: #f1d8cc;
  font-family: PT-Serif-Regular;
  padding: 37px 0;
}

.psyhology {
  font-size: 42px;
  padding-bottom: 40px;
}

.surname {
  text-indent: 140px;
}

.full-name {
  display: flex;
  flex-direction: column;
}

.main-slogan {
  font-size: 28px;
  max-width: 494px;
  margin-top: 90px;
  font-family: PT-Serif-Regular;
}

.main-sign {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 90px;
}

.main-screen-button {
  width: 256px;
  height: 70px;
  border-radius: 20px;
  color: #7c655a;
  background: white;
  border: 1px solid #7c655a;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  line-height: 70px;
}

.main-screen-button a {
  background-color: #fff;
  border-radius: 20px;
}

.main-screen-button:hover,
.blog-button:hover,
.write-me-button:hover {
  background-color: #7c655a;
  color: white;
  transition: 0.5s;
}

.about {
  margin-top: 250px;
}

.about-title,
.methods-title,
.work-title,
.blog-title,
.contact-title {
  font-size: 40px;
  padding-bottom: 10px;
  font-weight: 400;
  width: fit-content;
  border-bottom: 1px solid #1f1f1f;
  padding-right: 90px;
  margin-bottom: 50px;
}

.about-title {
  margin-bottom: 30px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-discription {
  max-width: 672px;
  font-size: 18px;
  font-family: Open-Sans-Light;
  margin-bottom: 10px;
  text-align: justify;
}

.about-discription p {
  padding-bottom: 20px;
  line-height: 130.182%;
}

.about-discription-link {
  color: #7c655a;
  font-size: 20px;
  font-weight: 700;
}

.about-discription-link:hover {
  border-bottom: 1px solid #7c655a;
}

.about-img img {
  max-width: 750px;
  border-radius: 20px;
}

.work {
  margin-top: 250px;
}

.work-items {
  display: grid;
  grid-template-columns: repeat(4, 288px);
  justify-content: space-between;
}

.work-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s;
  padding-bottom: 40px;
}

.work-item:hover {
  transform: scale(1.05);
}

.work-item-img {
  width: 130px;
  align-items: center;
}

.work-item-text {
  max-width: 300px;
  font-size: 20px;
  text-align: center;
}

.difficulties,
.growth {
  width: 200px;
}

.methods {
  margin-top: 250px;
}

.methods-items {
  display: flex;
  justify-content: space-between;
}

.methods-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1f1f1f;
  border-radius: 20px;
  transition: transform 0.5s;
}

.methods-item:hover {
  transform: scale(1.05);
}

.methods-item-img {
  width: 110px;
  padding: 60px 190px;
}

.methods-item-name {
  padding-bottom: 55px;
  text-align: center;
  font-size: 20px;
}

.geshtalt {
  width: 100px;
}

.terapy {
  width: 310px;
}

.programming {
  width: 300px;
  align-items: center;
}

.blog {
  margin-top: 250px;
}

.blog-items {
  display: grid;
  grid-template-columns: repeat(3, 495px);
  justify-content: space-between;
}

.blog-item {
  border: 1px solid #1f1f1f;
  border-radius: 20px;
  transition: transform 0.5s;
}

.blog-item:hover {
  transform: scale(1.05);
}

.blog-item-img {
  margin-bottom: 20px;
}

.blog-item-img img {
  width: 495px;
  border-radius: 20px 20px 0 0;
}

.blog-item-heshtag {
  background-color: #ad958a;
  width: 75px;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 10px;
}

.blog-item-title,
.blog-item-preview {
  font-weight: 400;
  padding-left: 15px;
}

.blog-item-title {
  font-size: 32px;
}

.blog-item-preview {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.blog-btn,
.write-me-btn {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-top: 90px;
}

.blog-button {
  width: 296px;
  height: 70px;
  border-radius: 20px;
  color: #7c655a;
  background: white;
  border: 1px solid #7c655a;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 70px;
}

.write-me {
  margin-top: 250px;
}

.contact-title {
  font-size: 40px;
  margin-bottom: 40px;
}

.write-me-img img {
  width: 780px;
  border-radius: 20px;
}

.write-me-content {
  display: flex;
  gap: 100px;
}

.write-me-form {
  display: flex;
  flex-direction: column;
  width: 587px;
}

.input-name,
.input-phone,
.input-message {
  border: none;
  border-bottom: 1px solid black;
  height: 45px;
  margin-bottom: 15px;
  font-size: 24px;
  outline: none;
  transition: height 0.5s;
}

.input-name:focus,
.input-phone:focus {
  border-bottom: 1px solid blue;
  height: 70px;
}

.input-message:focus {
  height: 150px;
  border-bottom: 1px solid blue;
  padding-bottom: 30px;
}

.write-me-button {
  width: 227px;
  height: 70px;
  border-radius: 20px;
  color: #7c655a;
  background: white;
  border: 1px solid #7c655a;
  font-size: 24px;
}

.btn-footer {
  gap: 25px;
}

.input-name,
.input-phone,
.input-message input {
  margin-bottom: 92px;
  padding-bottom: 10px;
}

footer {
  margin-top: 250px;
  margin-bottom: 50px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-networks,
.footer-year {
  display: flex;
  align-items: center;
}

.footer-social-networks {
  gap: 18px;
}

.social-tg {
  display: inline-block;
  background-image: url(../img/tg.png);
  background-size: cover;
  background-position: center center;
  width: 45px;
  height: 45px;
}

.soocial-watsapp {
  display: inline-block;
  background-image: url(../img/whatsapp.png);
  background-size: cover;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.footer-year {
  gap: 5px;
}

@media screen and (max-width: 1800px) {
  .main-line-left,
  .main-line-right,
  .blog-line-left,
  .blog-line-right,
  .write-me-line-left,
  .write-me-line-right {
    display: none;
  }

  .psyhology,
  .name,
  .surname,
  .main-slogan,
  .main-sign {
    padding-left: 15%;
  }

  .main-sign {
    justify-content: center;
  }

  .methods-item-img {
    padding: 60px 150px;
  }

  .blog-items {
    grid-template-columns: repeat(3, 460px);
  }

  .blog-item-img img {
    width: 460px;
  }

  .write-me-form {
    width: 90%;
  }

  /* Доделать блоги, методы и форму */
}

@media screen and (max-width: 1700px) {
  .about-img img {
    width: 650px;
  }
}

@media screen and (max-width: 1620px) {
  .about-img img {
    width: 550px;
  }

  .about-discription {
    font-size: 16px;
    max-width: 600px;
  }
}

@media screen and (max-width: 1600px) {
  .psyhology,
  .name,
  .surname,
  .main-slogan,
  .main-sign {
    padding-left: 10%;
  }

  .psyhology {
    font-size: 36px;
    padding-bottom: 20px;
  }

  .name,
  .surname {
    font-size: 54px;
  }

  .main-sign {
    justify-content: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 1560px) {
  .about-title,
  .methods-title,
  .work-title,
  .blog-title,
  .contact-title {
    font-size: 30px;
    padding-right: 40px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .work-item-img {
    width: 110px;
  }

  .work-item-text {
    max-width: 220px;
    font-size: 16px;
  }

  .difficulties,
  .growth {
    width: 180px;
  }

  .methods-item-img {
    padding: 40px 120px;
  }

  .methods-item-img img {
    width: 100px;
  }

  .methods-item-name {
    font-size: 16px;
  }

  .blog-items {
    grid-template-columns: repeat(3, 400px);
  }

  .blog-item-img {
    margin-bottom: 10px;
  }

  .blog-item-img img {
    width: 400px;
  }

  .blog-item-title {
    font-size: 24px;
  }

  .blog-item-preview {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 380px;
  }

  .blog-btn {
    margin-top: 60px;
    gap: 30px;
  }

  .blog-button {
    width: 240px;
  }

  .write-me-img img {
    width: 650px;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    width: calc(100% - 200px);
  }

  .burger-menu {
    right: 70px;
  }

  .main-title {
    text-align: center;
  }

  .psyhology,
  .name,
  .surname,
  .main-slogan {
    padding: 0;
  }

  .main-slogan {
    margin: 0 auto;
    padding-top: 90px;
  }

  .psyhology {
    font-size: 32px;
  }

  .surname {
    text-indent: 0;
  }

  .main-slogan {
    max-width: 450px;
    text-align: center;
  }

  .blog-items {
    grid-template-columns: repeat(3, 350px);
  }

  .blog-item-img img {
    width: 350px;
  }

  .blog-item-preview {
    width: 330px;
  }
}

@media screen and (max-width: 1380px) {
  .methods-item-img {
    padding: 40px 100px;
  }

  .about-discription {
    font-size: 16px;
    max-width: 450px;
  }

  .work-items {
    grid-template-columns: repeat(3, 288px);
  }

  .work-item-img {
    width: 130px;
  }

  .blog-items {
    grid-template-columns: repeat(3, 300px);
  }

  .blog-item-img img {
    width: 300px;
  }

  .blog-item-title {
    font-size: 22px;
  }

  .blog-item-preview {
    font-size: 14px;
    width: 280px;
  }

  .write-me-content {
    gap: 60px;
  }

  .write-me-img img {
    width: 580px;
  }

  .input-name,
  .input-phone,
  .input-message input {
    margin-bottom: 70px;
    padding-bottom: 5px;
  }

  .write-me-btn {
    margin-top: 70px;
  }
}

@media screen and (max-width: 1350px) {
  .about-discription {
    max-width: 550px;
  }

  .about-discription p {
    padding-bottom: 20px;
  }

  .about-discription-link {
    font-size: 18px;
  }

  .about-img {
    margin-top: 20px;
  }

  .about-img img {
    width: 500px;
  }
}

@media screen and (max-width: 1300px) {
  .main-screen {
    flex-direction: column;
  }

  .main-sreen-left {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .main-sreen-left img {
    height: 27vh;
    border-radius: 20px;
  }

  .main-screen-right {
    margin-top: 30px;
  }

  .main-title {
    background-color: white;
    padding: 0;
  }

  .full-name {
    flex-direction: row;
    justify-content: center;
    gap: 12px;
  }

  .name,
  .surname {
    font-size: 40px;
  }

  .main-slogan {
    padding-top: 20px;
    font-size: 24px;
    font-size: 24px;
  }

  .main-sign {
    margin-top: 30px;
  }

  .main-screen-button {
    font-size: 22px;
    height: 60px;
    width: 230px;
    line-height: 60px;
  }

  .about,
  .work,
  .methods,
  .blog,
  .write-me {
    margin-top: 180px;
  }
}

@media screen and (max-width: 1270px) {
  .about-discription {
    margin: 0;
  }

  .about-discription {
    max-width: 100%;
  }

  .about-img {
    text-align: center;
    margin-bottom: 20px;
  }

  .about-img img {
    width: 100%;
  }
}

@media screen and (max-width: 1250px) {
  .container {
    width: calc(100% - 150px);
  }

  .methods-item-img {
    padding: 40px 80px;
  }

  .blog-btn {
    margin-top: 40px;
  }

  .blog-button {
    font-size: 22px;
    width: 200px;
    height: 50px;
    line-height: 52px;
  }

  .write-me-img img {
    width: 500px;
  }

  .input-name,
  .input-phone,
  .input-message {
    margin-bottom: 40px;
    padding-bottom: 5px;
  }

  .input-name,
  .input-phone,
  .input-message {
    font-size: 20px;
  }

  .write-me-btn {
    margin-top: 10px;
  }

  .write-me-button {
    width: 200px;
    height: 50px;
    font-size: 22px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .methods-items {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 20px;
  }

  .blog-items {
    grid-template-columns: repeat(2, 420px);
    row-gap: 20px;
  }

  .blog-item-img img {
    width: 420px;
  }
}

@media screen and (max-width: 1230px) {
  .main-screen {
    flex-direction: column;
  }

  .main-sreen-left {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .main-sreen-left img {
    height: 50vh;
  }

  .main-title {
    background-color: white;
  }

  .main-screen-right {
    flex-grow: 1;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1150px) {
  .methods-items {
    display: grid;
    grid-template-columns: repeat(2, 430px);
    gap: 20px;
    row-gap: 20px;
  }

  .blog-items {
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
    row-gap: 20px;
  }

  .blog-item-img img {
    width: 100%;
  }
}

@media screen and (max-width: 1190px) {
  .main-sreen-left img {
    height: 45vh;
  }

  .main-screen-right {
    flex-grow: 1;
    margin-top: 20px;
  }

  .psyhology {
    font-size: 26px;
  }
  .name,
  .surname {
    font-size: 30px;
  }

  .main-slogan {
    font-size: 20px;
  }
  .main-screen-button {
    font-size: 20px;
    height: 60px;
    width: 200px;
  }
}

@media screen and (max-width: 1100px) {
  .work-items {
    grid-template-columns: repeat(3, 250px);
  }

  .work-item-img {
    width: 100px;
  }

  .write-me-content {
    display: flex;
    flex-direction: column;
  }

  .write-me-img img {
    width: 100%;
  }
  .write-me-form {
    width: 100%;
  }

  footer {
    margin-top: 180px;
  }

  .footer .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-social-networks {
    gap: 7px;
  }
}

@media screen and (max-width: 1030px) {
  .about,
  .work,
  .methods,
  .blog,
  .write-me {
    margin-top: 100px;
  }

  .methods-items {
    grid-template-columns: repeat(2, 400px);
  }
}

@media screen and (max-width: 960px) {
  .about-title,
  .methods-title,
  .work-title,
  .blog-title,
  .contact-title {
    font-size: 26px;
    padding-right: 40px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .methods-items {
    grid-template-columns: repeat(2, 300px);
  }

  .blog-items {
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (max-width: 830px) {
  .work-items {
    grid-template-columns: repeat(3, 220px);
  }
}

@media screen and (max-width: 740px) {
  .container {
    width: calc(100% - 100px);
  }

  .methods-items {
    grid-template-columns: repeat(2, 280px);
  }

  .blog-items {
    grid-template-columns: repeat(2, 280px);
  }

  .blog-item-title {
    font-size: 20px;
  }

  .blog-item-preview {
    font-size: 14px;
    width: 240px;
  }
}

@media screen and (max-width: 700px) {
  .burger-menu {
    width: 40px;
    height: 40px;
  }

  .work-items {
    grid-template-columns: repeat(2, 220px);
  }

  .footer .container {
    gap: 10px;
  }

  .social-tg {
    width: 35px;
    height: 35px;
  }

  .soocial-watsapp {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 670px) {
  .methods-items {
    grid-template-columns: repeat(1, 100%);
  }

  .blog-items {
    grid-template-columns: repeat(1, 100%);
  }

  .blog-item-title {
    font-size: 20px;
  }

  .blog-item-preview {
    font-size: 14px;
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .burger-menu {
    right: 50px;
  }

  .container {
    width: calc(100% - 80px);
  }

  .about-title,
  .methods-title,
  .work-title,
  .blog-title,
  .contact-title {
    font-size: 22px;
    padding-right: 25px;
  }

  .work-items {
    grid-template-columns: repeat(1, 100%);
  }

  .work-item-img {
    width: 130px;
  }
}

@media screen and (max-width: 470px) {
  .burger-menu {
    width: 30px;
    height: 30px;
  }

  .burger-menu span:nth-child(2) {
    top: calc(50% - 8px);
  }

  .burger-menu span:nth-child(3) {
    top: calc(50% + 8px);
  }

  .logo img {
    width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: calc(100% - 40px);
  }

  .burger-menu {
    right: 40px;
  }

  .main-sreen-left {
    margin-top: 80px;
  }

  .main-sreen-left img {
    height: 30vh;
  }

  .psyhology {
    font-size: 22px;
  }

  .full-name {
    gap: 8px;
  }

  .name,
  .surname {
    font-size: 26px;
  }

  .main-slogan {
    font-size: 18px;
  }

  .main-screen-button {
    font-size: 18px;
    height: 50px;
    width: 180px;
    line-height: 55px;
  }
}

@media screen and (max-width: 330px) {
  .burger-menu {
    right: 30px;
  }
}

@media screen and (min-width: 1480px) {
  .container {
    max-width: calc(100% - 280px);
  }
}
