@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open-Sans-Regular';
}

.container {
  width: calc(100% - 280px);
  margin: 0 auto;
}

.header-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.burger-menu {
  position: relative;
  width: 40px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}

.burger-menu span {
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu span:nth-child(2) {
  top: calc(50% - 11px);
}

.burger-menu span:nth-child(3) {
  top: calc(50% + 11px);
}

.burger-menu.active span {
  transform: scale(0);
}

.burger-menu.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
  left: 5px;
}

.burger-menu.active span:nth-child(2) {
  width: 0;
  color: white;
}

.burger-menu.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
  left: 5px;
  color: white;
}

.burger-menu-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 30px;
  z-index: 1;
  overflow-y: auto;
  background-color: white;
  color: black;
  animation: burgerAnimation 0.5s;
}

.main-burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.logo-hidden {
  margin-top: 50px;
}

.networks-hidden {
  margin-bottom: 50px;
}

.open {
  display: flex !important;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.burger-menu-nav a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-screen {
  display: flex;
  justify-content: space-between;
}

.main-screen {
  height: 100vh;
}

.main-screen-left {
  background-color: #82807a;
  width: 100%;
}

.work-title h1 {
  font-family: PT-Serif-Regular;
  font-size: 60px;
  color: white;
}

.directions-title {
  margin-top: 250px;
}

.main-sign {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 120px;
}

.main-screen-button {
  width: 256px;
  height: 70px;
  border-radius: 20px;
  color: white;
  background: transparent;
  border: 1px solid white;
  font-size: 24px;
  text-align: center;
  line-height: 70px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-screen-button:hover {
  background-color: white;
  color: #82807a;
  transition: 0.5s;
}

.main-screen-img img {
  height: 100vh;
}

.work {
  margin-top: 250px;
}

.work-items {
  display: grid;
  grid-template-columns: repeat(4, 288px);
  justify-content: space-between;
}

.work-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  transition: transform 0.5s;
}

.work-item:hover {
  transform: scale(1.05);
}

.work-item-img {
  width: 130px;
  align-items: center;
}

.work-item-text {
  max-width: 300px;
  font-size: 20px;
  text-align: center;
}

.difficulties,
.growth {
  width: 200px;
}

.title-work,
.title-methods {
  font-size: 40px;
  padding-bottom: 10px;
  font-weight: 400;
  width: fit-content;
  border-bottom: 1px solid #1f1f1f;
  padding-right: 90px;
  margin-bottom: 40px;
}

.methods {
  margin-top: 250px;
}

.methods-items {
  display: flex;
  justify-content: space-between;
}

.methods-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  transition: transform 0.5s;
}

.methods-item:hover {
  transform: scale(1.05);
}

.methods-item-img {
  width: 110px;
  padding: 60px 190px;
}

.methods-item-name {
  padding-bottom: 55px;
  text-align: center;
  font-size: 20px;
}

.geshtalt {
  width: 100px;
}

.terapy {
  width: 310px;
}

.programming {
  width: 300px;
  align-items: center;
}

footer {
  margin-top: 250px;
  margin-bottom: 50px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-networks,
.footer-year {
  display: flex;
  align-items: center;
}

.footer-social-networks {
  gap: 10px;
}

.social-tg {
  display: inline-block;
  background-image: url(../img/tg.png);
  background-size: cover;
  background-position: center center;
  width: 45px;
  height: 45px;
}

.soocial-watsapp {
  display: inline-block;
  background-image: url(../img/whatsapp.png);
  background-size: cover;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.footer-year {
  gap: 5px;
}

@media screen and (max-width: 1780px) {
  .methods-item-img {
    padding: 60px 160px;
  }
}

@media screen and (max-width: 1720px) {
  .main-line-right,
  .main-line-left {
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  .methods-item-img {
    padding: 60px 130px;
  }
}

@media screen and (max-width: 1520px) {
  .main-sign {
    gap: 30px;
  }
}

@media screen and (max-width: 1520px) {
  .directions-title,
  .methods-title {
    text-align: center;
  }

  .main-sign {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1414px) {
  .work-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .work-title {
    padding: 0 20px;
  }

  .work-title h1 {
    font-size: 50px;
  }

  .methods-item-img {
    padding: 40px 100px;
  }

  .methods-item-name {
    font-size: 18px;
    padding-bottom: 40px;
  }

  .terapy {
    width: 250px;
  }

  .programming {
    width: 300px;
  }
}

@media screen and (max-width: 1370px) {
  .main-sign {
    width: 100%;
  }

  .main-screen-button {
    font-size: 22px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: calc(100% - 170px);
  }

  .main-screen {
    height: 100vh;
  }

  .main-screen-img {
    display: none;
  }

  .work-title {
    margin-top: 120px;
  }

  .directions-title {
    margin-top: 120px;
  }

  .work {
    margin: 100px 0;
  }

  .title-work,
  .title-methods {
    font-size: 30px;
    padding-right: 50px;
  }

  .work-items {
    display: grid;
    grid-template-columns: repeat(3, 250px);
  }

  .methods {
    margin: 0;
  }

  .methods-items {
    display: grid;
    grid-template-columns: repeat(2, 320px);
    row-gap: 15px;
    gap: 15px;
  }

  footer {
    margin-top: 180px;
  }

  .footer .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-social-networks {
    gap: 7px;
  }
}

@media screen and (max-width: 850px) {
  .work-items {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }

  .methods-items {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    row-gap: 15px;
    gap: 15px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: calc(100% - 80px);
  }

  .header-navigation {
    display: flex;
  }

  .logo {
    order: -1;
  }

  .logo img {
    width: 250px;
  }

  .burger-menu-nav {
    justify-content: space-between;
  }

  .logo.logo-hidden {
    margin-top: 40px;
  }

  .burger-menu-nav a {
    font-size: 18px;
  }

  .main-burger-menu {
    gap: 10px;
  }

  .burger-menu {
    width: 40px;
    height: 40px;
  }

  .social-networks {
    display: none;
  }

  .logo-hidden {
    margin-top: 50px;
  }

  .social-networks.networks-hidden {
    display: block;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 420px) {
  .logo img {
    width: 200px;
  }
  .work-title h1 {
    font-size: 44px;
  }

  .title-work,
  .title-methods {
    font-size: 24px;
    padding-right: 30px;
  }
}
