@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Open-Sans-Regular';
}

.container {
  width: calc(100% - 280px);
  margin: 0 auto;
}

.header-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.burger-menu {
  position: relative;
  width: 40px;
}

.burger-menu span {
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu span:nth-child(2) {
  top: calc(50% - 11px);
}

.burger-menu span:nth-child(3) {
  top: calc(50% + 11px);
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bread-crumbs {
  display: flex;
  gap: 10px;
  margin-top: 90px;
}

.bread-crumbs-item::after {
  color: #5c5c5c;
  content: '>';
  font-size: 20px;
  padding-left: 5px;
}

.bread-crumbs-item:last-child::after {
  content: none;
}

.bread-crumbs-item a {
  text-decoration: none;
  color: #5c5c5c;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.bread-crumbs-item a:hover {
  border-bottom: 1px solid black;
}

.post-title {
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.post-img {
  margin-bottom: 50px;
  text-align: center;
}

.post-img img {
  width: 1705px;
}

.post-text-all {
  width: 830px;
  margin: 0 auto;
}

.post-text {
  padding-bottom: 10px;
  font-size: 20px;
}

footer {
  margin-top: 250px;
  margin-bottom: 50px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-networks,
.footer-year {
  display: flex;
  align-items: center;
}

.footer-social-networks {
  gap: 18px;
}

.social-tg {
  display: inline-block;
  background-image: url(../img/tg.png);
  background-size: cover;
  background-position: center center;
  width: 45px;
  height: 45px;
}

.soocial-watsapp {
  display: inline-block;
  background-image: url(../img/whatsapp.png);
  background-size: cover;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.footer-record {
  font-size: 20px;
}
