@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Open-Sans-Regular";
}

.container {
  width: calc(100% - 280px);
  margin: 0 auto;
}

.header-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.burger-menu {
  position: relative;
  width: 40px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}

.burger-menu span {
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu span:nth-child(2) {
  top: calc(50% - 11px);
}

.burger-menu span:nth-child(3) {
  top: calc(50% + 11px);
}

.burger-menu.active span {
  transform: scale(0);
}

.burger-menu.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
  left: 5px;
}

.burger-menu.active span:nth-child(2) {
  width: 0;
  color: white;
}

.burger-menu.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
  left: 5px;
  color: white;
}

.burger-menu-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow-y: auto;
  background-color: white;
  color: black;
  animation: burgerAnimation 0.5s;
}

.main-burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo-hidden {
  margin-top: 50px;
}

.networks-hidden {
  margin-bottom: 50px;
}

.open {
  display: flex !important;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.burger-menu-nav a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bread-crumbs {
  display: flex;
  gap: 10px;
  margin-top: 90px;
  align-items: center;
}

.bread-crumbs-item::after {
  color: #5c5c5c;
  content: ">";
  font-size: 20px;
  padding-left: 5px;
}

.bread-crumbs-item:last-child::after {
  content: none;
}

.bread-crumbs-item a {
  text-decoration: none;
  color: #5c5c5c;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.bread-crumbs-item a:hover {
  border-bottom: 1px solid black;
}

.post-title {
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.post-img {
  margin-bottom: 50px;
  text-align: center;
}

.post-img img {
  width: 1400px;
}

.post-text-all {
  width: 830px;
  margin: 0 auto;
  text-align: justify;
}

.post-text {
  padding-bottom: 10px;
  font-size: 20px;
}

footer {
  margin-top: 250px;
  margin-bottom: 50px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-networks,
.footer-year {
  display: flex;
  align-items: center;
}

.footer-social-networks {
  gap: 18px;
}

.social-tg {
  display: inline-block;
  background-image: url(../img/tg.png);
  background-size: cover;
  background-position: center center;
  width: 45px;
  height: 45px;
}

.soocial-watsapp {
  display: inline-block;
  background-image: url(../img/whatsapp.png);
  background-size: cover;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.footer-record {
  font-size: 20px;
}

@media screen and (max-width: 1600px) {
  .post-img img {
    width: 1000px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: calc(100% - 200px);
  }

  .bread-crumbs {
    margin-top: 50px;
  }

  .post-title {
    text-transform: uppercase;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .post-img img {
    width: 1000px;
  }

  .post-text-all {
    width: 700px;
    margin: 0 auto;
  }

  .post-text {
    padding-bottom: 10px;
    font-size: 18px;
  }

  footer {
    margin-top: 170px;
  }

  .footer .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .footer-social-networks {
    gap: 7px;
  }
}

@media screen and (max-width: 1100px) {
  .post-img img {
    width: 730px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: calc(100% - 100px);
  }

  .header-navigation {
    display: flex;
  }

  .logo {
    order: -1;
  }

  .logo img {
    width: 250px;
  }

  .burger-menu-nav {
    justify-content: center;
  }

  .logo-hidden {
    justify-content: flex-start;
  }

  .burger-menu-nav a {
    font-size: 18px;
  }

  .main-burger-menu {
    gap: 10px;
  }

  .burger-menu {
    width: 40px;
    height: 40px;
  }

  .social-networks {
    display: none;
  }

  .logo-hidden {
    margin-top: 50px;
  }

  .networks-hidden {
    margin-bottom: 50px;
  }

  .bread-crumbs {
    margin-top: 30px;
  }

  .bread-crumbs-item a {
    font-size: 16px;
  }

  .post-title {
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .post-img {
    margin-bottom: 30px;
  }

  .post-img img {
    width: 630px;
  }

  .post-text-all {
    width: 550px;
    margin: 0 auto;
  }

  .post-text {
    padding-bottom: 20px;
    font-size: 14px;
  }

  footer {
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .footer .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .social-tg {
    width: 35px;
    height: 35px;
  }

  .soocial-watsapp {
    width: 40px;
    height: 40px;
  }

  .footer-social-networks {
    gap: 7px;
  }

  .footer-record {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .post-img img {
    width: 490px;
  }

  .post-text-all {
    width: 430px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: calc(100% - 80px);
  }

  .post-img img {
    width: 410px;
  }

  .post-text-all {
    width: 410px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 470px) {
  .container {
    width: calc(100% - 50px);
  }

  .post-img img {
    width: 380px;
  }

  .post-text-all {
    width: 380px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 410px) {
  .container {
    width: calc(100% - 40px);
  }

  .logo img {
    width: 170px;
  }

  .bread-crumbs {
    align-items: center;
    gap: 3px;
  }

  .bread-crumbs-item::after {
    color: #5c5c5c;
    content: ">";
    font-size: 20px;
    padding-left: 1px;
  }

  .post-img img {
    width: 360px;
  }

  .post-title {
    font-size: 20px;
  }

  .post-text-all {
    width: 360px;
    margin: 0 auto;
  }

  .post-text {
    font-size: 14px;
    font-weight: 350;
    letter-spacing: 0.32px;
  }

  footer {
    margin-top: 70px;
  }
}

@media screen and (max-width: 330px) {
  .post-img img {
    width: 300px;
  }

  .post-text-all {
    width: 300px;
    margin: 0 auto;
  }
}
